@import "styles/_variables.scss";
@import "styles/_mixin.scss";

.profile-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  max-width: 690px;
  padding-top: 80px;

  &__text {
    font-size: rem(16);
    line-height: rem(22);
    text-align: left;
    font-weight: 400;
    color: $type-secondary;
    margin-bottom: 32px;
    margin-top: 0;
  }
}