$mainFont: "Space Grotesk", sans-serif;
$mainFontSize: 16px;

// Colors
$type-primary: #FAFAFC;
$type-secondary: #F2F2F4;
$type-decor: #EBEAEF;
$type-gray: #AAB0B6;
$type-black: #151718;

$color-primary: #8D56FF;
$color-primary-hover: #6137B9;
$color-secondary: #5C0EC5;
$color-white: #FFFFFF;
$color-gray-100: #F8F8F8;
$color-gray-200: #A8B4C0; 
$color-light-green: #9EE6AA;
$color-green: #24D7A1;
$color-light-gray: #E4E4E4;
$color-border: #47477f;
$color-border-focus: #7A61CF;
$color-border-hover: #5839BC;
$color-purple: #D0C2F1;
$color-yellow: #F8CE46;
$color-red: #a73b3b;
$color-blue: #4D79F2;


// BG
$bg-light: #F2F6FA;
$bg-white: #FFFFFF;
$bg-dark: #1A2256;
$bg-card: #28293C;
$bg-footer: #20202d;
$bg-footer-dark: #1e1e2a;
$bg-footer-black: #000000;
$bg-modal: #312b49;
$bg-header: rgba(63, 54, 94, 0.8);

$border-radius: 8px;