@import "styles/_variables.scss";

.layout {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: $bg-dark;
  min-height: 100vh;

  &__content {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-flow: column nowrap;
    flex: 1;

    &--top {
      align-items: center;
    }

    &--center {
      justify-content: center;
      align-items: center;
    }
  }
}