@import "styles/_variables.scss";
@import "styles/_mixin.scss";

.form-box {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 24px;
  }

  &__row {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;

    input {
      padding-right: 48px;
    }
  }
}

.form-error {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: flex-start;
  color: $color-red;
  font-size: rem(12);
  line-height: rem(16);
  text-align: left;
  font-weight: 400;
  margin-top: 8px;

  &__icon {
    position: relative;
    top: 0px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    margin-right: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.input-label {
  font-size: rem(12);
  line-height: rem(16);
  text-align: left;
  font-weight: 400;
  color: $type-gray;
  margin-bottom: 4px;  
}

.input-gen {
  width: 100%;
  padding: 15px 12px;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  font-size: rem(14);
  line-height: rem(18);
  text-align: left;
  font-weight: 400;
  font-family: $mainFont;
  color: $type-primary;
  background: transparent;
  transition: all 0.3s;
  margin: 0;
  -webkit-text-fill-color: $type-primary !important;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  

  &:hover {
    background: transparent;
    border-color: $color-border-hover;
  }

  &:disabled {
    background: rgba(168, 180, 192, 0.06);
    cursor: not-allowed;
  }
  
  &:focus {
    border-color: $color-border-focus;
    background: transparent;
    outline: none;
  }

  &_error {
    border-color: $color-red;

    &:hover {
      border-color: $color-red;
    }
  }
}